<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
        <meta name="description" content="Cotizacion de reparaciones en un solo lugar">
        <meta name="keywords" content="Auto, Autos, todoautos , todo autos, reparación, reparaciones, taller, talleres, cotización de reparaciones, presupuesto de talleres">
        <meta name="author" content="Nombre del autor">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
        <title>{% block title %}TODOAUTO${% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        
        
    </head>
    <body>

        <div id="content">
            
            


            {% block content %}{% endblock %}
        </div>
      

    
<script src="{{ url_for('static', filename='js/menu.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>